.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contactFormContainer{
    margin: 80px auto 0 auto;
    background-image: url("../../public/background/contactForm/contactFormLarge.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 20px;
    width: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactFormContainer h1{
    font-size: 50px;
}

.contactFormContainer h2{
    font-size: 20px;
}

.contactForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 30px auto;
}

.contactForm input{
    width: 80%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 8px 4px;
}

.contactForm input:focus{
    border: none;
    outline: 1px solid black;
}

.contactForm input[type='submit']{
    background-color: #0040FF;
    width: 25%;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    margin: 15px 5px 5px 5px;
    padding: 10px 20px;
}

.contactForm textarea{
    width: 80%;
    resize: none;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 8px 4px;
}

.contactForm textarea:focus{
    border: none;
    outline: 1px solid black;
}

.contactForm label{
    margin: 10px auto 0 10%
}

.contactForm p {
    margin: 0 10%;
    align-self: flex-start;
    font-size: 12px;
    color: red;
}

.icon{
    background: #0BB7F6;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contactPoint{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 200px;
}

.contactInfoContainer{
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .contactFormContainer{
        background-image: url("../../public/background/contactForm/contactFormMidLarge.svg");
        margin: 50px auto 0 auto;
        width: 660px;
    }

    .contactForm{
        width: 80%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .contactFormContainer{
        background-image: url("../../public/background/contactForm/contactFormMid.svg");
        width: 55%;
        min-width: 400px;
    }
    .contactForm{
        width: 90%;
    }

    .contactForm input[type='submit']{
        width: 30%;
        font-size: 17px;
    }
}
@media only screen and (max-width: 480px){
    .contactFormContainer{
        background-image: url("../../public/background/contactForm/contactFormSmall.svg");
        width: 55%;
        min-width: 300px;
    }
    .contactForm{
        width: 95%;
    }

    .contactForm input[type='submit']{
        width: 40%;
        font-size: 17px;
    }
    .contactInfoContainer{
        flex-direction: column;
        margin: 40px auto;
    }
    .contactPoint{
        margin: 10px 0;
    }
}