.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.background svg {
    width: 100%;
    height: 100%;
    display: block;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 2%;
    user-select: none;
}

.intro h6, h1, h2{
    margin: 0;
    text-align: center;
}

.intro h1 {
    font-weight: 800;
    font-size: 100px;
    line-height: 0.9;
}

.intro h2 {
    font-size: 60px
}

.intro div {
    display: flex;
}

.picture {
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 25vw;
    height: 25vw;
    margin: auto;
}

.homeContainer{
    display: flex;
    height: 82vh;
}

.socials{
    display: flex;
    margin-left: 20px;
}

.social{
    background-color: #0040FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.social:hover{
    background-color: #507CFF;
    cursor: pointer;
}

.social img{
    width: 35px;
    height: 35px;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 75px 12%;
    scroll-margin-top: 40px
}

.about h1{
    font-weight: 800;
    font-size: 35px;
}

.about p{
    font-size: 20px;
}

.educationContainer {
    position: relative;
    min-height: 100vh;
    z-index: 0;
}

.education {
    background-image: url("../../public/background/education/educationLarge.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 10%;
    scroll-margin-top: 40px;
    position: relative;
    height: auto;
}

.education h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 60px;
}

.timelineLine {
    position: relative;
    margin: auto;
    background-color: white;
    width: 4px;
}

.timelineEntry {
    position: relative;
    margin-bottom: 10px;
}

.timelineCard {
    position: relative;
    background: white;
    padding: 1px 20px;
    width: 300px;
    border-radius: 12px;
    text-align: left;
    line-height: 0.9;
    font-weight: bold;
    user-select: none;
}

.timelineCard:hover {
    cursor: pointer;
}

.left {
    left: calc(-3vw - 340px);
}

.right {
    left: 3vw;
}

.dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background: blue;
    border-radius: 50%;
    z-index: 2;
    top: 34%;
}

.years {
    color: gray;
    margin: 8px 0;
}

.projectContainer {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px
}

.project{
    margin: 0 2%;
    width: 340px;
    height: 225px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

.projectImage, .projectInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    background-color: #D9D9D9;
    user-select: none;
}

.projectInfo{
    display: none;
    color: white;
    font-size: 20px;
    user-select: none;
}

.project:hover .projectInfo{
    display: flex;
    background-color: black;
    opacity: 0.85;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:  0 15px;
    padding: 5px;
    width: 225px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.projects h2{
    font-weight: 800;
    font-size: 35px;
    margin: 50px 0 10px 0;
}

.wrapper{
    position: relative;
    min-height: 100vh;
}

.backgroundFooter svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

.midLarge, .mid, .small{
    display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    .large, .mid{
        display: none;
    }
    .midLarge {
        display: block;
    }
    .education{
        background-image: url("../../public/background/education/educationMidLarge.svg");
        padding: 8%;
    }

    .homeContainer{
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }
    .intro{
        margin: 5vh 0;
        width: 100%;
    }
    .intro h1{
        font-size: 70px;
    }
    .intro h2{
        font-size: 45px;
    }
    .picture{
        max-width: 325px;
        max-height: 325px;
        width: 35vw;
        height: 35vw;
    }
    .background{
        height: 99vh;
    }
    .about p {
        font-size: 17px;
        margin: 10px 0;
    }
    .project {
        width: 250px;
        height: 165px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .large, .midLarge{
        display: none;
    }
    .mid{
        display: block;
    }
    .education{
        background-image: url("../../public/background/education/educationMid.svg");
        padding: 13%;
    }
    .homeContainer{
        flex-direction: column;
        align-items: center;
    }
    .intro {
        margin: 5vh;
        width: 100%;
    }
    .intro h1{
        font-size: 60px;
        margin: 0 10px;
    }
    .intro h2{
        font-size: 45px;
        margin: 0 10px;
    }
    .button{
        width: 150px;
        height: 30px;
        font-size: 20px;
    }
    .picture{
        width: 40vw;
        height: 40vw;
        min-width: 250px;
        min-height: 250px;
    }
    .socials{
        margin: 25px 0 0 0;
        display: flex;
        justify-content: center;
    }
    .background{
        height: 110vh;
    }
    .about h1{
        font-size: 30px;
    }
    .about p{
        font-size: 17px;
        margin: 7px 0;
    }

    .timelineLine{
        left: -170px;
    }

    .left, .right{
        left: 6vw;
    }

    .projectContainer{
        flex-direction: column;
    }

    .project{
        margin: 10px 0;
        width: 300px;
        height: 200px;
    }
}
@media only screen and (max-width: 480px) {
    .large, .midLarge, .mid{
        display: none;
    }
    .small{
        display: block;
    }
    .education{
        background-image: url("../../public/background/education/educationSmall.svg");
        padding: 12%
    }
    .homeContainer{
        flex-direction: column;
        align-items: center;
    }
    .intro {
        margin: 5vh;
        width: 100%;
    }
    .intro h1{
        font-size: 45px;
        margin: 0 10px;
    }
    .intro h2{
        font-size: 30px;
        margin: 0 10px;
    }
    .button{
        width: 100px;
        height: 20px;
        font-size: 15px;
    }
    .picture{
        width: 250px;
        height: 250px;
    }
    .socials{
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;
    }
    .background{
        height: 105vh;
    }

    .about h1{
        font-size: 25px;
    }
    .about p{
        font-size: 15px;
        margin: 7px 0;
    }

    .timelineLine{
        left: -120px;
    }

    .timelineCard{
        width: 175px;
    }

    .educationTitle{
        font-size: 17px;
    }
    .years{
        font-size: 12px;
    }
    .educationSubtitle{
        font-size: 15px;
    }

    .left, .right{
        left: 10vw;
    }

    .projectContainer{
        flex-direction: column;
    }

    .project{
        margin: 10px 0;
        width: 225px;
        height: 150px;
    }
}
@media only screen and (max-width: 480px) and (min-height: 851px) {
    .homeContainer{
        flex-direction: column;
        align-items: center;
        height: 72vh;
    }
    .background{
        height: 90vh;
    }
}
@media only screen and (max-width: 480px) and (min-height: 1051px) {
    .homeContainer{
        flex-direction: column;
        align-items: center;
        height: 60vh;
    }
    .background{
        height: 74vh;
    }
}
@media only screen and (max-width: 480px) and (min-height: 1351px) {
    .homeContainer{
        flex-direction: column;
        align-items: center;
        height: 50vh;
    }
    .background{
        height: 62vh;
    }
}
@media (hover: none){
    .projectInfo{
        display: flex;
        background-color: black;
        opacity: 0.5;
        height: 20%;
        bottom: 0;
        top: auto;
    }
}