.container{
    background-color: white;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
}

.logo {
    border-radius: 5px;
    height: 45px;
    width: 120px;
    margin-left: 30px;
}

.logo:hover {
    cursor: pointer;
}

.navigations{
    margin: 0 30px 0 auto;
}

.navigations a {
    color: black;
    padding: 15px;
    margin: 3px;
    text-decoration: none;
    user-select: none;
}

.navigations a:hover {
    background-color: #9FE5FF;
    border-radius: 5px;
}

.hamburger{
    margin: auto 30px auto auto;
    display: none;
}

.dropDownContainer{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 60%;
    height: auto;
    z-index: 999;
    border-radius: 0 0 0 15px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.cross{
    background-color: white;
    height: 60px;
    display: flex;
    margin: auto 30px auto auto;
    justify-content: flex-end;
}

.dropDownNavigations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropDownNavigations a{
    color: black;
    padding: 15px 0;
    margin: 3px;
    width: 80%;
    text-decoration: none;
    user-select: none;
    text-align: center;
}

.dropDownNavigations a:hover {
    background-color: #9FE5FF;
    border-radius: 5px;
}

@media only screen and (max-width: 768px){
    .navigations{
        display: none;
    }
    .hamburger{
        display: block;
    }
}